.hole {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #222327;
}

.navigation {
    position: relative;
    width: 400px;
    height: 60px;
    background: #222327;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
    z-index: 2;

}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 200;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;


}

.navigation ul li.active a .icon {
    transform: translateY(0);
    background: #2196f3;
    color: white;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;

    transition: 0.5s;


}